## Model development stage

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [2]:
trans_cars = pd.read_csv('transformed_car_data.csv')

In [3]:
trans_cars.head()

,Unnamed: 0,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,city-mpg,highway-mpg,price,city_L/100km,highway_L/100km,horspower_binned,fuel-type_diesel,fuel-type_gas,aspiration_std,aspiration_turbo
0,0,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,0.811148,...,21,27,13495.0,11.190476,8.703704,medium,0,1,1,0
1,1,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,0.811148,...,21,27,16500.0,11.190476,8.703704,medium,0,1,1,0
2,2,1,122.0,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,...,19,26,16500.0,12.368421,9.038462,medium,0,1,1,0
3,3,2,164.0,audi,four,sedan,fwd,front,99.8,0.848630,...,24,30,13950.0,9.791667,7.833333,medium,0,1,1,0
4,4,2,164.0,audi,four,sedan,4wd,front,99.4,0.848630,...,18,22,17450.0,13.055556,10.681818,medium,0,1,1,0

In [8]:
trans_cars.drop('Unnamed: 0',axis=1, inplace=True)

In [9]:
trans_cars.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,city-mpg,highway-mpg,price,city_L/100km,highway_L/100km,horspower_binned,fuel-type_diesel,fuel-type_gas,aspiration_std,aspiration_turbo
0,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,21,27,13495.0,11.190476,8.703704,medium,0,1,1,0
1,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,21,27,16500.0,11.190476,8.703704,medium,0,1,1,0
2,1,122.0,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,19,26,16500.0,12.368421,9.038462,medium,0,1,1,0
3,2,164.0,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,24,30,13950.0,9.791667,7.833333,medium,0,1,1,0
4,2,164.0,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,18,22,17450.0,13.055556,10.681818,medium,0,1,1,0

In [10]:
# import library for modelling
from sklearn.linear_model import LinearRegression

In [11]:
lm = LinearRegression()

In [12]:
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
X=trans_cars[['highway-mpg']]
Y=trans_cars['price']

In [17]:
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
type(trans_cars[['highway-mpg']])

pandas.core.frame.DataFrame

In [21]:
yhat = lm.predict(X)

In [22]:
yhat

array([16236.50464347, 16236.50464347, 17058.23802179, 13771.3045085 ,
       20345.17153508, 17879.97140011, 17879.97140011, 17879.97140011,
       21988.63829172, 14593.03788682, 14593.03788682, 15414.77126514,
       15414.77126514, 17879.97140011, 20345.17153508, 20345.17153508,
       21988.63829172, -5128.5631929 ,  3088.77059031,  3088.77059031,
        4732.23734696,  7197.43748192, 13771.3045085 ,  7197.43748192,
        7197.43748192,  7197.43748192, 13771.3045085 , 13771.3045085 ,
       18701.70477843, -5950.29657123,  7197.43748192,  3910.50396864,
       10484.37099521, 10484.37099521, 10484.37099521, 10484.37099521,
       11306.10437353, 11306.10437353, 11306.10437353, 11306.10437353,
       15414.77126514, 12949.57113018, 14593.03788682, 14593.03788682,
       22810.37167004, 22810.37167004, 24453.83842668, 12949.57113018,
        7197.43748192,  7197.43748192,  7197.43748192,  7197.43748192,
       19523.43815675, 19523.43815675, 19523.43815675, 19523.43815675,
       12127.83775186, 12127.83775186, 12127.83775186, 12127.83775186,
        3910.50396864, 12127.83775186, 16236.50464347,  6375.7041036 ,
       17879.97140011, 17879.97140011, 17879.97140011, 17879.97140011,
       23632.10504836, 23632.10504836, 25275.57180501, 25275.57180501,
       18701.70477843,  4732.23734696,  7197.43748192,  7197.43748192,
       13771.3045085 , 13771.3045085 , 12127.83775186, 18701.70477843,
       18701.70477843, 18701.70477843, 12127.83775186, 12127.83775186,
       13771.3045085 , 13771.3045085 ,  8019.17086025, -2663.36305794,
        8019.17086025,  8019.17086025,  8019.17086025,  8019.17086025,
        8019.17086025,  8019.17086025,  8019.17086025,  8019.17086025,
       10484.37099521, 10484.37099521, 20345.17153508, 20345.17153508,
       17879.97140011, 17879.97140011, 19523.43815675, 17879.97140011,
       18701.70477843, 11306.10437353, 18701.70477843, 17879.97140011,
       18701.70477843, 11306.10437353, 18701.70477843, 17879.97140011,
       18701.70477843, 11306.10437353, 18701.70477843,  4732.23734696,
       13771.3045085 ,  7197.43748192,  7197.43748192,  7197.43748192,
       13771.3045085 , 18701.70477843, 16236.50464347, 17879.97140011,
       17879.97140011, 17879.97140011, 12949.57113018, 12949.57113018,
       15414.77126514, 15414.77126514, 15414.77126514, 15414.77126514,
       17058.23802179, 17058.23802179,  8840.90423857, 12949.57113018,
       12949.57113018,  8019.17086025, 11306.10437353, 12127.83775186,
       17879.97140011, 14593.03788682, 12127.83775186, 12949.57113018,
       14593.03788682, 19523.43815675,  6375.7041036 ,  7197.43748192,
        7197.43748192,  8019.17086025, 12127.83775186, 12127.83775186,
        8019.17086025,  8019.17086025,  8840.90423857,  -198.16292297,
        -198.16292297, 10484.37099521, 10484.37099521, 10484.37099521,
       10484.37099521, 14593.03788682, 14593.03788682, 13771.3045085 ,
       13771.3045085 , 13771.3045085 , 13771.3045085 , 13771.3045085 ,
       13771.3045085 , 10484.37099521, 11306.10437353, 12127.83775186,
       12127.83775186, 12127.83775186, 18701.70477843, 18701.70477843,
       18701.70477843, 18701.70477843,   623.57045535, 10484.37099521,
         623.57045535, 10484.37099521, 10484.37099521,  3910.50396864,
       12127.83775186, 14593.03788682, 14593.03788682, 18701.70477843,
        7197.43748192, 12949.57113018, 15414.77126514, 15414.77126514,
       15414.77126514, 15414.77126514, 20345.17153508, 20345.17153508,
       15414.77126514, 17879.97140011, 19523.43815675, 16236.50464347,
       17879.97140011])

In [23]:
lm.intercept_

38423.305858157386

In [24]:
lm.coef_

array([-821.73337832])